
.image-index img{
    width: 100%;
    color: #fff;
}

/* ============================================================================ */

.serv{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.serv img {
    width: 100%;
    margin-bottom: 30px;
}

.serv .title {
    font-size: 45px;
    margin-bottom: 40px;
    color: #0d0870;
    font-weight: bold;
    text-align: left;
}

.serv p {
    color: #0d0870;
    font-size: 27px; 
    text-align: justify;
    line-height: 40px;
}

.serv .text {
    color: #0d0870;
    font-size: 27px; 
    text-align: justify;
    line-height: 40px;
    margin-bottom: 100px;
}

.serv-row{
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
}
 
.item {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 120px;
    border-radius: 5px;
    text-align: left;

}

.item2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/img2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 120px;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    position: absolute;
    width: 150px;
    bottom: 16px;
    right: 16px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    transition: all 0.2s linear;
}
 
.btn:hover {
    background-color: white;
    color: black;
}

/* ============================================================================ */

.review {
    background-color: #0d0870;
}

.container {
    width: 85%;
    margin: auto;
    padding-top: 100px;

}

.container .title {
    font-size: 45px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.review-row {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
}

.card {
    height: 450px;
    width: 300px;
    padding: 20px 35px;
    background-color: white;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 100px;
}

.card h1 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

/* ============================================================================ */


