.overlay {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: top;
    justify-items: center;
    margin: 150px 0px 70px 0px;
}

.imgcontainer {
    text-align: center;
    margin: 35px 0 24px 0;
}
  
img.avatar {
    width: 40%;
    border-radius: 50%;
}

.data {
	border: solid 1px #0d0870;
    box-shadow: #63636333 0px 2px 8px 6px;
    border-radius: 5px;
	padding: 12px 15px;
	margin: 10px;
	width: 350px;
    height: 35px;
}

.titles {
    font-weight: bold;
    color: #0d0870;
    font-size: 30px;
}

/* ===================================================================================== */

.profile-form-button {
    margin: 25px 0px 0px 0px;
    text-align: center;
}

.back-button {
    cursor: pointer;
    width: 200px;
    text-decoration: none;
    border: 2px solid #0d0870;
    padding: 9px 27px;
    color: #0d0870;
    font-size: 13px;
    border-radius: 5px; 
}

.back-button:hover {
    color: white;
    background-color: #0d0870;
    border: 1px solid #0d0870;
}

.profile-button {
    cursor: pointer;
    width: 130px;
    margin: 15px 20px 0px 0px;
    padding: 9px 27px;
    color: #FFF;
    border: none;
    font-size: 13px;
    background-color: #0d0870;
    border-radius: 5px;
    border: 2px solid #0d0870;
}

.profile-button:hover {
    background-color: white;
    border: 2px solid #0d0870;
    color: #0d0870;
}

/* ===================================================================================== */


.history {
    border: solid 2px #0d0870;
	border-radius: 10px;
    box-shadow: #00000059 0px 5px 15px;
    width: 540px;
    min-height: 500px;
    margin-top: 60px;
    text-align: center;
}

.container {
    width: 495px;
    height: 200px;
    padding: 10px;
    background-color: #0d0870;
    border: 2px solid #0d0870;
    border-radius: 5px;
    margin: 20px 0px 20px 20px;
    text-align: left;
}

.direction {
    margin-bottom: 17px;
}

.title {
    color: white; 
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
}

.detail {
 margin-bottom: 10px;
}

.detail .sub {
    color: white; 
    margin-right: 15px; 
    font-weight: 600; 
    font-size: 12px;
}

.detail .desc {
    color: white; 
    margin-right: 15px; 
    font-size: 12px; 
    font-weight: 50;
}

.qr img{
    width: 68%;
    margin-right: 8px;
}

/* ============================================================================ */
