*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

img {
    width: 30%;
    margin-top: 50px;
}

.login {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../image/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.login-container {
    background-color: white;
	border-radius: 10px;
    box-shadow: #00000059 0px 5px 15px;
    width: 468px;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px 50px 30px 50px;
    margin-top: 60px;
}

/* =============================================================================== */

.login-title {
    font-size: 30px;
    color: #0d0870;
}

.login-form {
    margin: 30px 0 15px 0;
}

.login-input {
	border: none;
    box-shadow: #63636333 0px 2px 8px 0px;
    border-radius: 5px;
	padding: 12px 20px;
	margin: 15px 0;
	width: 93%;
    height: 45px;
}

::placeholder {
    color: #0d0870;
    font-size: 13px;
    font-weight: 100;
}

/* =============================================================================== */

.forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px 50px 200px;
}

.forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
}

/* =============================================================================== */

.login-form-button {
    margin: 25px 0px 0px 25px;
    text-align: center;
}

.back-button {
    cursor: pointer;
    width: 200px;
    text-decoration: none;
    border: 2px solid #0d0870;
    padding: 9px 27px;
    color: #0d0870;
    font-size: 13px;
    border-radius: 5px; 
}

.back-button:hover {
    color: white;
    background-color: #0d0870;
    border: 1px solid #0d0870;
}

.login-button {
    cursor: pointer;
    width: 130px;
    margin-left: 15px;
    padding: 9px 27px;
    color: #FFF;
    border: none;
    font-size: 13px;
    background-color: #0d0870;
    border-radius: 5px;
    border: 2px solid #0d0870;
}

.login-button:hover {
    background-color: white;
    border: 2px solid #0d0870;
    color: #0d0870;
}

/* =============================================================================== */

.login-register {
    margin-top: 40px;
    text-align: center;
    color: #160606;
    font-size: 13px;
}

.login-register-link {
    color: #160606;
    font-style: italic;
}